<h1>TO DO list</h1>

<div>
  <table>
    <tbody>
      <%= for task <- @tasks do %>
          <tr>
            <td><%= task.description %></td>
            <td>
              <span><%= link "Delete", to: Routes.task_path(@conn, :delete, task), method: :delete%></span>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= render "form.html", Map.put(assigns, :action, Routes.task_path(@conn, :create)) %>
</div>
